.linkDark {
    filter: brightness(1);
    transition: filter 0.2s ease-out;
}

.linkLight {
    filter: brightness(1);
    transition: filter 0.2s ease-out;

}


.linkDark:hover{
    filter:brightness(1.3);
    transform: scale(1.05);
}


.linkLight:hover{
    filter:brightness(0.7);
    transform: scale(1.05);
}

